/* .....................<Section>..........Starts.............................*/

#screensizemap-section {
  position: relative;
  top: auto;
  left: 0;
}

@media screen and (max-width: 768px) #screensizemap-section .wrapper {
  padding: 0;
}

#screensizemap {
  position: relative;
  display: block;
  padding: 0;
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 18px;
  -webkit-box-shadow: 0 0 1px 0 rgba(10, 22, 70, 0.15),
    0 1px 1px 0 rgba(10, 22, 70, 0.2);
  box-shadow: 0 0 1px 0 rgba(10, 22, 70, 0.15),
    0 1px 1px 0 rgba(10, 22, 70, 0.2);
  background-color: #fff;
}

.svg-container {
  text-align: center;
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  padding-bottom: 56.25%;
}

#svg-screensizes {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

#svg-screensizes #extra-extra-large rect {
  fill: #f1c40f;
}

#svg-screensizes #extra-extra-large rect {
  fill-opacity: 0.2;
}

#svg-screensizes #extra-large rect {
  fill: #e67e22;
}

#svg-screensizes #extra-large rect {
  fill-opacity: 0.2;
}

#svg-screensizes #large rect {
  fill: #e74c3c;
}

#svg-screensizes #large rect {
  fill-opacity: 0.2;
}

#svg-screensizes #medium rect {
  fill: #2ecc71;
}

#svg-screensizes #medium rect {
  fill-opacity: 0.2;
}

#svg-screensizes #small rect {
  fill: #2980b9;
}

#svg-screensizes #small rect {
  fill-opacity: 0.2;
}

#svg-screensizes #extra-small rect {
  fill: #8e44ad;
}

#svg-screensizes #extra-small rect {
  fill-opacity: 0.2;
}

/* .....................<Section>..........Ends................................*/

/* .....................<Body>..........Starts.................................*/

body {
  text-align: center;
}

body {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

body {
  font-family: usual, Usual, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #141414;
  margin: 0 !important;
  padding: 0;
  min-width: 18.75em;
}

* {
  box-sizing: border-box;
}

body {
  display: block;
}

/* .....................<Body>..........Ends.................................*/

/* .....................<Main>..........Starts.................................*/

main {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

main {
  display: block;
}
/* .....................<Main >..........Ends.......................................................*/

/* .....................<Main - Header Section 1>..........Starts...................................*/

.page-header {
  display: block;
  width: 100%;
  padding: 32px 0 64px;
  text-align: center;
}

.page-header .wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.wrapper {
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
}

.page-header h3 {
  font-weight: 250;
  line-height: 1.3846153;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 1em auto 0;
  color: #191919;
}

.page-header p {
  display: block;
  font-size: 11px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.1px;
  text-align: center;
  max-width: 500px;
  margin: 1em auto 0;
  color: #878787;
}

.page-header .ssm-logo-container {
  text-align: center;
  text-decoration: black;
  font-size: x-large;
  font-family: cursive;
  font-weight: bold;
}

/* .....................<Main - Header Section 1>..........Ends...................




/* .....................<Main - Header Section 2>..........Starts.................................*/

#header-section {
  position: relative;
  z-index: 9999999;
  display: block;
  width: 100%;
  min-height: 64px;
  padding-top: 16px;
  background-color: transparent;
  text-align: center;
}

#header-section .wrapper {
  display: inline-block;
  width: auto;
  text-align: left;
}

.wrapper {
  position: relative;
  max-width: 1600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
}

.caller-group-label.inline {
  display: inline-block;
  float: left;
  padding-bottom: 0;
  padding-top: 8px;
  padding-right: 8px;
  position: relative;
}

#pop-info {
  display: inline-block;
  color: #191919;
  position: absolute;
  right: 100%;
  padding-right: 0.5em;
  text-align: right;
  white-space: nowrap;
}

.caller-group-label.inline p {
  color: #878787;
  font: 10px helvetica, Arial;
  padding: 8px 8px 0px 0px;
  align-content: initial;
}

.chip-button-group {
  display: inline-block;
  float: left;
  text-align: justify;
}

.chip-button-group .chip-button:first-child {
  border-radius: 200px 0 0 200px !important;
}

.no-touchevents .chip-button:nth-child(2) {
  background-color: #dadada;
  color: #141414;
}

.no-touchevents .chip-button:nth-child(3) {
  background-color: #dadada;
  color: #141414;
}

.chip-button-group .chip-button:last-child {
  border-top-right-radius: 0px;
}

.chip-button-group .chip-button + .chip-button {
  margin-left: 0;
  border-left-width: 1px;
}

.chip-button {
  border-radius: 0;
  float: left;
}

.chip-button {
  background-color: lightgray;
  color: black;
  margin-right: 16px;
}

.chip-button-group .chip-button:last-child {
  border-radius: 0 200px 200px 0;
}

.chip-button-group .chip-button + .chip-button {
  margin-left: 0;
  border-left-width: 1px;
}

.chip-button li {
  background-color: lightgray;
}

#category-control {
  position: relative;
}

.left {
  display: inline-block;
  float: left;
  margin-right: 8px;
}

#category-control-caller {
  position: relative;
}

.chip-button {
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  cursor: pointer;
  display: inline-block;
  float: left;
  min-height: 0;
  height: 30px;
  max-height: 30px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 8px;
  color: #141414;
  background-color: #ececec;
  border-radius: 200px;
  transition: background-color 0.4s linear, border-color 0.4s linear,
    color 0.4s linear;
  border-width: 0;
  border-style: solid;
  border-left-color: #f8f8f8;
  white-space: nowrap;
}

#category-control-caller .dot.extra-small {
  background-color: #8e44ad;
  margin-right: 4px;
  clear: both;
}

#category-control-caller .dot {
  display: inline-block;
  float: left;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 4px;
  text-align: justify;
}

#category-control-caller .dot.small {
  background-color: #2980b9;
  margin-right: 4px;
}

#category-control-caller .dot.medium {
  background-color: #2ecc71;
}

#category-control-caller .dot.large {
  background-color: #e74c3c;
  margin-right: 4px;
  clear: both;
}

#category-control-caller .dot.extra-large {
  background-color: #e67e22;
  margin-right: 4px;
}

#category-control-caller .dot.extra-extra-large {
  background-color: #f1c40f;
}

#fullscreen-caller .fullscreen-opener {
  display: inline-block;
  min-width: 20px;
  max-width: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 7px;
  padding-bottom: 4px;
  text-align: center;
  background-color: lightgrey;
}

.chip-button.dark {
  background-color: lightgrey;
  margin-bottom: 50px;
  box-sizing: border-box;
}
